<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-col-wrapper">

            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    <li><a href="/">About me</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li> {% include icon-github.html username=site.github_username %}</li>
                    <li><a href="https://www.linkedin.com/in/jan-hendrik-peters">LinkedIn</a></li>
                    <li><a href="https://www.xing.com/profile/JanHendrik_Peters4">xing</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <ul class="social-media-list">
                    <li>
                        <p class="rss-subscribe">
                            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss feed</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
